.infovar, .game-infovar{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0rem;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    height: var(--infovar-heigh);
    border-bottom: 2px solid var(--inactive-color);
}

.game-infovar{
    border-bottom: none;
}

.victory-infovar{
    display: none;
}

.infovar-elements{
    padding: 0.5rem 2rem;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 26rem;
}

.avatar{
    overflow: hidden;
    display: flex;
    z-index: 10000;
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    outline: 4px solid var(--dark-main-color);
}

.avatar img{
    transform: scale(0.9);
}

.lives{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lives svg{
    stroke-width: 3px;
    margin: 0 auto;
    transform: scale(0.8);
}

.lives span{
    color: var(--inactive-color);
    font-size: 2rem;
}