.normal, .practice, .tutorial{
    margin: auto;
    padding: 2rem 0;
    gap: 1rem;
    display: flex;
    place-content: center;
    color: var(--main-color);
    font-weight: 500;
}

.options{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.options > *, .answers > *{
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    background-color: var(--inactive-color);
    height: 4rem;
    width: 100%;
    max-width: 12rem;
    padding: 0.4rem;
}

.correct, .incorrect,.unselect, .select{
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal span, .practice span, .tutorial span{
    transition: background-color 0.5s;
    cursor: pointer;
}

.unselect{
    transition: background-color 1s;
}

.incorrect{
    background-color: var(--incorrect);
    transition: background-color 300ms ease-in;
}

.correct{
    transition: background-color 0.3s;
    background-color: var(--correct);
}

.practice .correct{
    background-color: #1485D8;
}

.normal .select, .practice .select, .tutorial .select{
    background-color: gray;
}