.levels, .practice{
    margin: 0 auto;
    width: 100%;
    max-width: 22rem;
    border-radius: 16px;
    height: 16px;
    background-color: var(--inactive-color);
    overflow: hidden;
}

.progress{
    transition: width 1s;
    width: 0%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 16px;
}

.practice .progress{
    background-color: #1485D8;
}